body,
html {
	height: 100%;
	margin: 0;
	background: #eee;
	color: #333;
	font-family: 'Barlow', sans-serif;
	font-size: 14px;
	line-height: 18px;
}
a {
	color: #920;
	text-decoration: none;
}

/**
 * Draw Canvas
 */
#master-canvas-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100% !important;
	height: 100% !important;
	overflow: hidden;
	box-sizing: border-box;
	cursor: url(../imgs/cursor.png) 5 5, auto;
}
#master-canvas-wrap canvas {
	position: absolute;
	left: 50%;
	top: 50%;
	/*	border: solid 3px #0d0;*/
}

/**
 * Kaleidoscope
 */
#kaleido .segment .canvas-wrap {
	position: absolute;
	/*	border: solid 2px #d00;*/
}
#kaleido.rotate .segment .canvas-wrap {
	/* Animation set in JS together with search light */
	/*animation: rotate 21s infinite linear;*/
	transform-origin: 50% 50%;
}
#kaleido .search-light,
#kaleido .search-light svg {
	transform-origin: 0 0;
	/*	opacity: .1;*/
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/**
 * Show original drawing option.
 */
#master-canvas-wrap .draw-canvas {
	opacity: 0;
	transition: opacity 1000ms;
}
#kaleido .mirror-segment {
	transition: opacity 1000ms;
}
#kaleido .search-light {
	opacity: 0;
	transition: opacity 1000ms;
}
body.show-original #master-canvas-wrap .draw-canvas {
	opacity: 1;
}
body.show-original #kaleido .mirror-segment {
	opacity: 0.2;
}
body.show-original #kaleido .search-light {
	opacity: 1;
}
body.show-original #center {
	opacity: 1;
}

/**
 * Settings
 * General styles in settings_panel.css
 */
#settings {
	z-index: 3;
}

/**
 * Instructions
 */
#center {
	width: 13px;
	height: 13px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAJElEQVQYV2NkwAT/GRgYGJGFUThQCRorAhmPFwyAm9DdgxEEAORECQlt3qIUAAAAAElFTkSuQmCC)
		center center repeat;
	position: absolute;
	left: 50%;
	top: 45%;
	z-index: 1;
	margin: -7px 0 0 -7px;
	opacity: 0.5;
	pointer-events: none;
	transition: opacity 500ms;
}
#instructions {
	width: 200px;
	height: 20px;
	line-height: 20px;
	position: absolute;
	left: 50%;
	top: 45%;
	margin: -90px 0 0 -60px;
	text-align: center;
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 12px;
	opacity: 0.7;
	transition: opacity 500ms;
}
#instructions::after {
	content: '';
	display: block;
	width: 24px;
	height: 40px;
	background: url(../imgs/arrow.svg) 0 0 no-repeat;
	position: absolute;
	top: 25px;
	left: 80px;
}
#instructions.hide,
#center.hide {
	opacity: 0;
}

/**
 * About me
 */
#about-me {
	/* width: 300px; */
	position: absolute;
	bottom: 30px;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 0 30px;
	box-sizing: border-box;
}
#about-me h1.name {
	/* font-family: 'Playfair Display', serif; */
	/* font-family: 'Playfair Display SC', serif; */
	font-family: 'Cormorant Garamond', serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 32px;
	line-height: 32px;
	margin-top: 15px;
	margin-bottom: 20px;
}
#about-me .subtitle {
	font-size: 13px;
	text-transform: uppercase;
}
#about-me .subtitle .heart {
	font-family: Georgia, serif;
}
#about-me .text-compact {
	display: none;
}
#about-me .links {
	position: relative;
	z-index: 3;
	color: rgba(0, 0, 0, 0.5);
}
#about-me .links a {
	margin: 0 5px;
}
#settings.open + #about-me .links {
	z-index: 0;
}

/**
 * Hide settings and about ui as you draw
 * so you can draw over ui.
 */
#settings,
#about-me {
	transition: opacity 500ms;
}
#settings.hide,
#about-me.hide {
	pointer-events: none;
	opacity: 0.1;
}

@media screen and (max-width: 565px) {
	#about-me h1.name {
		margin-top: 5px;
		margin-bottom: 10px;
	}
	#about-me .text-main {
		display: none;
	}
	#about-me .text-compact {
		display: block;
	}
}

@media screen and (max-width: 350px) {
	body {
		font-size: 12px;
		line-height: 14px;
	}
}

@media (hover: hover) {
	body a:hover,
	body .link:hover {
		color: #d70;
	}
}
