/**
 * Settings
 */

#settings {
	font-family: 'Barlow', sans-serif;
	/* text-transform: uppercase; */
	position: absolute;
	letter-spacing: 0.5px;
	width: 160px;
	top: 25px;
	left: 30px;
	padding: 0 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/*	background: rgba(255,255,255,.8) !important;*/
}

/* Title */
#settings .title {
	height: 40px;
	line-height: 40px;
	font-size: 13px;
	margin: -10px 0 0 0;
	position: relative;
	cursor: pointer;
	width: 100%;
}
#settings .title::before {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: rgba(0, 0, 0, 0.1);
	position: absolute;
	left: 0;
	bottom: 0;
	transition: all 200ms;
}
#settings .title::after {
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 10px;
	right: 0;
	background: url(../imgs/close.svg) center center;
	opacity: 0;
	transform: rotate(45deg) scale(0.7);
	transition: opacity 200ms;
	transition-delay: 0;
}

/* Open/close states */
#settings.open {
	top: 10px;
	left: 10px;
	padding: 15px 20px;
	background: rgba(238, 238, 238, 0.9);
}
#settings.open .title {
	margin-bottom: 20px;
	font-weight: bold;
}
#settings.open .title::before {
	width: 100%;
}
#settings.open .title::after {
	opacity: 0.7;
	transition-delay: 200ms;
}
#settings:not(.open) .content {
	position: relative;
	left: -220px;
	height: 0;
	overflow: hidden;
	/*	display: none;*/
}

/* Animating in the different rows */
#settings .item {
	opacity: 0;
	position: relative;
	left: -10px;
	transition: all 200ms;
}
#settings.open .item {
	left: 0;
	opacity: 1;
}
#settings.open .item:nth-child(1) {
	transition-delay: 30ms;
}
#settings.open .item:nth-child(2) {
	transition-delay: 60ms;
}
#settings.open .item:nth-child(3) {
	transition-delay: 90ms;
}
#settings.open .item:nth-child(4) {
	transition-delay: 120ms;
}
#settings.open .item:nth-child(5) {
	transition-delay: 150ms;
}
#settings.open .item:nth-child(6) {
	transition-delay: 180ms;
}
#settings.open .item:nth-child(7) {
	transition-delay: 210ms;
}
#settings.open .item:nth-child(8) {
	transition-delay: 240ms;
}
#settings.open .item:nth-child(9) {
	transition-delay: 270ms;
}

/**
 * UI elements
 */

#settings label {
	display: block;
	line-height: 20px;
	min-height: 20px;
	margin: 5px 0;
	float: left;
	clear: left;
	/*	background: #ddd;*/
}

/* Button */
input[type='button'] {
	height: 28px;
	line-height: 25px;
	padding: 0 10px;
	border: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #fff;
	background: #666;
	border-radius: 3px;
	margin: 5px 0;
	float: left;
	clear: left;
	cursor: pointer;
}

/**
 * Checkboxes
 */
input[type='checkbox'] {
	display: none;
}
#settings label.cb {
	padding: 0 0 0 21px;
	cursor: pointer;
	position: relative;
	margin-bottom: 15px;
}
label.cb span::after {
	content: '';
	width: 20px;
	height: 20px;
	top: 0;
	left: -4px;
	display: block;
	position: absolute;
	background: url(../imgs/checkbox_sp.svg) 0 0 no-repeat;
}
.dark-ui label.cb span::after {
	background-position: -20px 0;
}

/* Checked state */
label.cb :checked + span::after {
	background-position: 0 -40px;
}
.dark-ui label.cb :checked + span::after {
	background-position: -20px -40px;
}

/* Disabled state */
label.cb :disabled + span {
	opacity: 0.4;
	cursor: default;
}
label.cb :disabled + span::after {
	opacity: 0.5;
}

/**
 * Sliders
 */

input[type='range'] {
	display: block;
	margin: 0 0 20px 0;
	width: 100%;
}

/* Reset browser styles */
input[type='range'] {
	-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
	width: 100%; /* Specific width is required for Firefox. */
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
}

input[type='range']:focus {
	outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type='range']::-ms-track {
	width: 100%;
	cursor: pointer;
	background: transparent; /* Hides the slider so custom styles can be added */
	border-color: transparent;
	color: transparent;
}

/* Track */
input[type='range']::-webkit-slider-runnable-track {
	width: 100%;
	height: 4px;
	cursor: pointer;
	background: #666;
	border-radius: 2px;
}
input[type='range']::-moz-range-track {
	width: 100%;
	height: 4px;
	cursor: pointer;
	background: #666;
	border-radius: 2px;
}
input[type='range']::-ms-track {
	width: 100%;
	height: 4px;
	cursor: pointer;
	background: #666;
	border-radius: 2px;
}

input[type='range']:active::-webkit-slider-runnable-track {
	background: #d70;
}
input[type='range']:active::-moz-range-track {
	background: #d70;
}
input[type='range']::-ms-track {
	background: #d70;
}

/* Thumb */
/* Special styling for WebKit/Blink */
input[type='range']::-webkit-slider-thumb {
	border: 2px solid #666;
	height: 20px;
	width: 20px;
	box-sizing: border-box;
	border-radius: 10px;
	background: #fff;
	cursor: pointer;
	/*	margin-left: -10px;*/
	margin: -8px 0;
}

/* All the same stuff for Firefox */
input[type='range']::-moz-range-thumb {
	border: 2px solid #666;
	height: 20px;
	width: 20px;
	box-sizing: border-box;
	border-radius: 10px;
	background: #fff;
	cursor: pointer;
	margin: -8px;
}

/* All the same stuff for IE */
input[type='range']::-ms-thumb {
	border: 2px solid #666;
	height: 20px;
	width: 20px;
	box-sizing: border-box;
	border-radius: 10px;
	background: #fff;
	cursor: pointer;
	margin: -8px;
}

/* Mobile screens */
@media only screen and (max-width: 400px) {
	#settings {
		top: 15px;
		left: 20px;
	}
	#settings.open {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow-y: scroll;
		box-sizing: border-box;
	}
	#settings .title {
		transition: none;
	}
	#settings.open .title {
		width: 100%;
	}
	#settings .title::after {
		transition: none;
	}
}

@media (hover: hover) {
	/* Button */
	input[type='button']:hover {
		background: #333;
	}

	/* Checkboxes */
	label.cb:hover :not(:checked) + span::after {
		background-position: 0 -20px;
	}
	.dark-ui label.cb:hover :not(:checked) + span::after {
		background-position: -20px -20px;
	}

	/* hover non-checked */
	/* label.cb :disabled + span:hover::after {
		background-position: 0 -0;
	}
	.dark-ui label.cb :disabled + span:hover::after {
		background-position: -20px 0;
	} */

	/* hover checked */
	/* label.cb :disabled:checked + span:hover::after {
		background-position: 0 -40px;
	}
	.dark-ui label.cb :disabled:checked + span:hover::after {
		background-position: -20px -40px;
	} */
}
